:root {
  --border-bottom: 1px solid lightgray;
  --border-top: 1px solid lightgray;
  --border: 1px solid lightgray;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
